<div class="modal-body" id="modal-body">
   <div class="portlet box red portlet-in-modal">

           <div class="portlet-title">
               <div class="caption">
                   <i class="fa fa-plus"></i>{{ $modalCtrl.title }}
                </div>
               <div class="tools">
                   <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
               </div>
           </div>

           <div class="portlet-body form">

               <div class="row">
                 <div class="col-md-12 text-center">
                    <div class="confirm">
                       {{ $modalCtrl.message }}
                     </div>
                  <div class="col-md-12 text-center">
               </div>

               <div class="form-actions">
                   <div class="row">
                       <div class="col-md-12 text-center">
                           <button type="button" class="btn" ng-click="$modalCtrl.close()">Fechar</button>
                       </div>
                   </div>
               </div>
           </div>
   </div>
</div>
