<a ui-sref="{{item.sref}}" ng-if="!item.hasChild">
   <!-- without children //-->
  <i ng-class="item.icon"></i>
  <span class="title">{{ item.title }}</span>
</a>
<!-- with children //-->
<a href="#" class="nav-link nav-toggle" ng-if="item.hasChild">
   <i ng-class="item.icon"></i>
   <span class="title">{{ item.title }}</span>
   <span class="arrow"></span>
</a>
<ul class="sub-menu" ng-if="item.hasChild">
   <li data-ng-include="'tpl/camara/includes/sidebar-menuitem.html'" class="nav-item" ng-repeat="item in item.menuItems">
   </li>
</ul>
