<p class="input-group">
   <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="camaraGridDateFilterController.date1" is-open="camaraGridDateFilterController.date1IsOpen" datepicker-append-to-body="true" datepicker-options="camaraGridDateFilterController.date1Options" ng-required="true" close-text="Close" />
   <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="camaraGridDateFilterController.openDate1()"><i class="glyphicon glyphicon-calendar"></i></button>
   </span>
</p>

<p class="input-group">
   <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="camaraGridDateFilterController.date2" is-open="camaraGridDateFilterController.date2IsOpen" datepicker-append-to-body="true" datepicker-options="camaraGridDateFilterController.date2Options" ng-required="true" close-text="Close" />
   <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="camaraGridDateFilterController.openDate2()"><i class="glyphicon glyphicon-calendar"></i></button>
   </span>
</p>
