<!-- BEGIN NEW PAGE -->
<div class="portlet box green portlet-in-modal">
   <div class="portlet-title">
       <div class="caption">
           <i class="fa fa-plus"></i>Alteração de Senha
        </div>
       <div class="tools">
           <a href="" class="remove" data-original-title="" title="" ng-click="$userChangePasswordCtrl.close()"></a>
       </div>
   </div>
   <div class="portlet-body form">
       <div class="alert alert-info alert-no-margin" role="alert" ng-if="$userChangePasswordCtrl.message">
          {{ $userChangePasswordCtrl.message }}
       </div>
       <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$userChangePasswordCtrl.errorMessage">
          {{ $userChangePasswordCtrl.errorMessage }}
       </div>
       <!-- BEGIN FORM-->
       <form action="#" name="$userChangePasswordCtrl.changePasswordForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

          <div class="form-body">
             <div class="form-group">
                  <label class="control-label col-md-3">Senha Atual</label>
                  <div class="col-md-9">
                     <input class="form-control" style="width: 200px" type="password" maxlength="20" size="20" autocomplete="off" required="true" placeholder="Senha" name="actualPassword" ng-model="$userChangePasswordCtrl.actualPassword"/>
                     <div class="alert alert-danger" style="width: 200px" role="alert" ng-if="$userChangePasswordCtrl.changePasswordForm.actualPassword.$invalid && ($userChangePasswordCtrl.changePasswordForm.actualPassword.$touched || $userChangePasswordCtrl.changePasswordForm.$submitted)">
                       Digite a senha atual
                     </div>
                  </div>
             </div>
         </div>

         <div class="form-body">
            <div class="form-group">
                  <label class="control-label col-md-3">Nova Senha</label>
                  <div class="col-md-9">
                     <input type="password" class="form-control" style="width: 200px" minlength="8" maxlength="20" size="20" autocomplete="off" required="true" placeholder="Senha" name="newPassword" ng-model="$userChangePasswordCtrl.newPassword"/>
                     <div class="alert alert-danger" style="width: 200px" role="alert" ng-if="$userChangePasswordCtrl.changePasswordForm.newPassword.$error.required && ($userChangePasswordCtrl.changePasswordForm.newPassword.$touched || $userChangePasswordCtrl.changePasswordForm.$submitted)">
                       Digite a nova senha
                     </div>
                     <div class="alert alert-danger" role="alert" ng-if="$userChangePasswordCtrl.changePasswordForm.newPassword.$error.minlength && ($userChangePasswordCtrl.changePasswordForm.newPassword.$touched || $userChangePasswordCtrl.changePasswordForm.$submitted)">
                       Digite a senha, tamanho mínimo de 8 caracteres.
                     </div>
                  </div>
             </div>
         </div>

         <div class="form-body">
            <div class="form-group">
                  <label class="control-label col-md-3">Confirmação da nova senha</label>
                  <div class="col-md-9">
                     <input class="form-control" type="password" style="width: 200px" maxlength="20" size="20" autocomplete="off" required="true" placeholder="Senha" name="confirmNewPassword" ng-model="$userChangePasswordCtrl.confirmNewPassword" ui-validate='{ confirmNewPasswordError : $userChangePasswordCtrl.confirmNewPasswordValidator }'/>
                     <div class="alert alert-danger" style="width: 200px" role="alert" ng-if="$userChangePasswordCtrl.changePasswordForm.confirmNewPassword.$error.required && ($userChangePasswordCtrl.changePasswordForm.confirmNewPassword.$touched || $userChangePasswordCtrl.changePasswordForm.$submitted)">
                       Confirme a nova senha
                     </div>
                     <div class="alert alert-danger" style="width: 200px" role="alert" ng-if="$userChangePasswordCtrl.changePasswordForm.confirmNewPassword.$error.confirmNewPasswordError && ($userChangePasswordCtrl.changePasswordForm.confirmNewPassword.$touched || $userChangePasswordCtrl.changePasswordForm.$submitted)">
                       A confirmação da senha não confere com a nova senha digitada
                     </div>
                     <span class="help-block">
                        Digite novamente a senha desejada para confirmar.
                     </span>
                  </div>
            </div>
         </div>

         <div class="form-actions">
         <div class="row">
             <div class="col-md-12 text-center">
                  <button type="button" class="btn green" ng-click="$userChangePasswordCtrl.save()" ng-disabled="$userChangePasswordCtrl.disableSubmit || ($userChangePasswordCtrl.changePasswordForm.$submitted && !$userChangePasswordCtrl.isValid())">
                     <i class="fa fa-check"></i>Alterar Senha
                  </button>
                 <button type="button" class="btn default" ng-click="$userChangePasswordCtrl.close()">Fechar</button>
             </div>
         </div>
         </div>
       </form>
       <!-- END FORM-->
   </div>
</div>
<!-- END NEW PAGE -->
