<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
        </li>
    </ul>
</div>
<h3 class="page-title">Administração do Portal da Câmara Municipal de Sorocaba </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <img src="/images/brasao_novo_640_640.png" class="brasao-camara img-responsive img-rounded center-block" width="600px" heigth="600px"></img>
        </div>
    </div>
</div>
