<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="datatablesmanaged">Datatables</a>
        </li>
        <li>
            <a ui-sref="datatablesmanaged">Advanced Datatables - {{ $ctrl.usersCount }}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>
<h3 class="page-title">
   Administração do Portal da Câmara
</h3>
<!-- END PAGE HEADER-->

<!-- BEGIN NEW ROOT MENU ITEM CONTENT -->
<script type="text/ng-template" id="newRootMenuItemModalContent.html">
       <div class="modal-body" id="modal-body">
            <div class="portlet box green portlet-in-modal">
               <div class="portlet-title">
                   <div class="caption">
                       <i class="fa fa-plus"></i>Novo Item de Menu
                    </div>
                   <div class="tools">
                       <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
                   </div>
               </div>
               <div class="portlet-body form">
                   <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$modalCtrl.errorMessage">
                      {{ $modalCtrl.errorMessage }}
                   </div>
                   <!-- BEGIN FORM-->
                   <form action="#" name="newRootMenuItemForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">Título</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="title" required="true" maxlength="50" ng-model="$modalCtrl.title">
                                    <div class="alert alert-danger" role="alert" ng-if="newRootMenuItemForm.title.$error.required && (newRootMenuItemForm.title.$touched || newMenuItemForm.$submitted)">
                                       O título do item de menu não pode ser vazio.
                                    </div>
                                    <span class="help-block">Digite o título deste item de menu.</span>
                               </div>
                           </div>
                       </div>

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">URL</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="url" maxlength="50" ng-model="$modalCtrl.url">
                                    <span class="help-block">
                                      Digite a <i>url</i> que deverá ser ativada ao clicar
                                      neste item de menu no portal da Câmara.
                                      Esta url será utilizada no atributo <i>href</i> do item de menu.
                                      Se este item de menu será utilizado para exibir outros subitens de menu,
                                      não há a necessidade de especificar uma <i>url</i> para ele.
                                   </span>
                               </div>
                           </div>
                       </div>

                       <div class="form-actions">
                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <button type="button" class="btn green" ng-click="$modalCtrl.ok()" ng-disabled="newMenuItemForm.$submitted && !$modalCtrl.isValid()">
                                       <i class="fa fa-check"></i> Ok</button>
                                   <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                               </div>
                           </div>
                       </div>
                   </form>
                   <!-- END FORM-->
               </div>
            </div>
       </div>
</script>
<!-- END NEW ROOT MENU ITEM CONTENT -->

<!-- BEGIN NEW MENU ITEM CONTENT -->
<script type="text/ng-template" id="newMenuItemModalContent.html">
       <div class="modal-body" id="modal-body">
            <div class="portlet box green portlet-in-modal">
               <div class="portlet-title">
                   <div class="caption">
                       <i class="fa fa-plus"></i>Novo Subitem de Menu em '{{ $modalCtrl.parentMenuItem.title }}'
                    </div>
                   <div class="tools">
                       <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
                   </div>
               </div>
               <div class="portlet-body form">
                   <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$modalCtrl.errorMessage">
                      {{ $modalCtrl.errorMessage }}
                   </div>
                   <!-- BEGIN FORM-->
                   <form action="#" name="newMenuItemForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">Título</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="title" required="true" maxlength="50" ng-model="$modalCtrl.title">
                                    <div class="alert alert-danger" role="alert" ng-if="newMenuItemForm.title.$error.required && (newMenuItemForm.title.$touched || newMenuItemForm.$submitted)">
                                       O título do item de menu não pode ser vazio.
                                    </div>
                                    <span class="help-block">Digite o título deste item de menu.</span>
                               </div>
                           </div>
                       </div>

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">URL</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="url" maxlength="50" ng-model="$modalCtrl.url">
                                    <span class="help-block">
                                      Digite a <i>url</i> que deverá ser ativada ao clicar
                                      neste item de menu no portal da Câmara.
                                      Esta url será utilizada no atributo <i>href</i> do item de menu.
                                      Se este item de menu será utilizado para exibir outros subitens de menu,
                                      não há a necessidade de especificar uma <i>url</i> para ele.
                                   </span>
                               </div>
                           </div>
                       </div>

                       <div class="form-actions">
                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <button type="button" class="btn green" ng-click="$modalCtrl.ok()" ng-disabled="newMenuItemForm.$submitted && !$modalCtrl.isValid()">
                                       <i class="fa fa-check"></i> Ok</button>
                                   <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                               </div>
                           </div>
                       </div>
                   </form>
                   <!-- END FORM-->
               </div>
            </div>
       </div>
</script>
<!-- END NEW MENU ITEM CONTENT -->

<!-- BEGIN EDIT MENU ITEM CONTENT -->
<script type="text/ng-template" id="editMenuItemModalContent.html">
       <div class="modal-body" id="modal-body">
            <div class="portlet box green portlet-in-modal">
               <div class="portlet-title">
                   <div class="caption">
                       <i class="fa fa-plus"></i>Item de Menu - {{ $modalCtrl.menuItem.title }}
                    </div>
                   <div class="tools">
                       <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
                   </div>
               </div>
               <div class="portlet-body form">
                   <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$modalCtrl.errorMessage">
                      {{ $modalCtrl.errorMessage }}
                   </div>
                   <!-- BEGIN FORM-->
                   <form action="#" name="editMenuItemForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">Título</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="title" required="true" maxlength="50" ng-model="$modalCtrl.title">
                                    <div class="alert alert-danger" role="alert" ng-if="editMenuItemForm.title.$error.required && (editMenuItemForm.title.$touched || editMenuItemForm.$submitted)">
                                       O título do item de menu não pode ser vazio.
                                    </div>
                                    <span class="help-block">Digite o título deste item de menu.</span>
                               </div>
                           </div>
                       </div>

                       <div class="form-body">
                           <div class="form-group">
                               <label class="control-label col-md-3">URL</label>
                               <div class="col-md-9">
                                    <input type="text" class="form-control" name="sref" maxlength="50" ng-model="$modalCtrl.url">
                                    <span class="help-block">
                                      Digite a <i>url</i> que deverá ser ativada ao clicar
                                      neste item de menu no portal da Câmara.
                                      Esta url será utilizada no atributo <i>href</i> do item de menu.
                                      Se este item de menu será utilizado para exibir outros subitens de menu,
                                      não há a necessidade de especificar uma <i>url</i> para ele.
                                   </span>
                               </div>
                           </div>
                       </div>

                       <div class="form-actions">
                           <div class="row">
                               <div class="col-md-12 text-center">
                                   <button type="button" class="btn green" ng-click="$modalCtrl.ok()" ng-disabled="editMenuItemForm.$submitted && !$modalCtrl.isValid()">
                                       <i class="fa fa-check"></i> Ok</button>
                                   <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                               </div>
                           </div>
                       </div>
                   </form>
                   <!-- END FORM-->
               </div>
            </div>
       </div>
</script>
<!-- END EDIT MENU ITEM CONTENT -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Gerenciamento do Menu do Portal</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                   <div class="row">
                       <div class="col-md-12">
                           <!-- Nested node template -->
                           <script type="text/ng-template" id="menu_item_renderer.html">
                             <div ui-tree-handle class="tree-node tree-node-content">
                                  <a class="btn btn-success btn-xs" ng-if="menuItem.menuItems && menuItem.menuItems.length > 0" data-nodrag ng-click="$ctrl.toggle(this)">
                                     <span  class="glyphicon" ng-class="{ 'glyphicon-chevron-right': $ctrl.isCollapsed(menuItem),'glyphicon-chevron-down': !$ctrl.isCollapsed(menuItem) }">
                                     </span>
                                  </a>

                                  <i ng-class="menuItem.icon"></i>

                                  <span ng-if="menuItem.sref">{{ menuItem.title }} <i>&lt;{{ menuItem.sref }}&gt;</i></span>
                                  <span ng-if="!menuItem.sref">{{ menuItem.title }}</span>
                                  <a class="pull-right btn btn-xs" title="Remover item" data-nodrag ng-click="$ctrl.removeMenuItem(this)" style="color: red">
                                     <span class="glyphicon glyphicon-remove"></span>
                                  </a>
                                  <a class="pull-right btn btn-xs" title="Adicionar item" data-nodrag ng-click="$ctrl.newMenuItem(this)" style="margin-right: 8px;">
                                     <span class="glyphicon glyphicon-plus"></span>
                                  </a>
                                  <a class="pull-right btn btn-xs" title="Alterar item" data-nodrag ng-click="$ctrl.editMenuItem(this)" style="margin-right: 8px;">
                                     <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                             </div>

                             <ol ui-tree-nodes="" ng-model="menuItem.menuItems" ng-class="{ hidden: $ctrl.isCollapsed(menuItem) }">
                               <li ng-repeat="menuItem in menuItem.menuItems" ui-tree-node ng-include="'menu_item_renderer.html'">
                               </li>
                             </ol>
                           </script>
                           <!--END: Nested node template -->

                           <div class="row">
                             <div class="col-sm-6">
                                <div class="panel panel-default" role="toolbar" style="text-align: right; margin-bottom: 0px; margin-right: 10px">
                                   <div class="btn-group" role="group">
                                         <a class="btn" data-nodrag ng-click="$ctrl.newRootMenuItem()">
                                           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Criar Item
                                         </a>

                                         <a class="btn" data-nodrag ng-click="$ctrl.collapseAll()">
                                           <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>&nbsp;Colapsar
                                         </a>

                                        <a class="btn" data-nodrag ng-click="$ctrl.expandAll()">
                                           <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>&nbsp;Expandir
                                        </a>
                                     </div>
                                </div>
                                <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$ctrl.errorMessage" style="margin-right: 10px">
                                  {{$ctrl.errorMessage}}
                                </div>
                                <div class="alert alert-warning alert-no-margin" role="alert" ng-if="$ctrl.warnMessage" style="margin-right: 10px">
                                  {{$ctrl.warnMessage}}
                                </div>
                                <div class="alert alert-info alert-no-margin" role="alert" ng-if="$ctrl.message"  style="margin-right: 10px">
                                  {{$ctrl.message}}
                                </div>
                             </div>
                           </div>

                           <div class="row">
                             <div class="col-sm-6">
                               <div ui-tree="$ctrl.treeOptions" id="tree-root">
                                 <ol ui-tree-nodes ng-model="$ctrl.menuItemsTree">
                                   <li ng-repeat="menuItem in $ctrl.menuItemsTree" ui-tree-node ng-include="'menu_item_renderer.html'"></li>
                                 </ol>
                               </div>
                             </div>
                           </div>

                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
