<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="users">Usuários</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
   Administração do Portal da Câmara
</h3>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN NEW USER MODAL CONTENT -->
<div id="new-user-modal">
   <script type="text/ng-template" id="newUserModalContent.html">
          <div class="modal-body" id="modal-body">
               <div class="portlet box green portlet-in-modal">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="fa fa-plus"></i>Novo Usuário
                       </div>
                      <div class="tools">
                          <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
                      </div>
                  </div>
                  <div class="portlet-body form">
                      <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$modalCtrl.errorMessage">
                         {{ $modalCtrl.errorMessage }}
                      </div>
                      <!-- BEGIN FORM-->
                      <form action="#" name="newUserForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">
                          <div class="form-body">

                              <div class="form-group">
                                  <label class="control-label col-md-3">Usuário</label>
                                  <div class="col-md-9">
                                       <input type="text" class="form-control" minlength="3" maxlength="20" required="" ng-model="$modalCtrl.username" name="username" id="username" ng-pattern="/^[a-z0-9]+$/" ui-validate='{ uniqueUsername : $modalCtrl.uniqueUsernameValidator }'>
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.username.$error.required && (newUserForm.username.$touched || newUserForm.$submitted)">
                                         Digite um identificador para o usuário (<i>username</i>).
                                       </div>
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.username.$error.uniqueUsername && (newUserForm.username.$touched || newUserForm.$submitted)">
                                         Já existe um usuário cadastrado com esse identificador, tente outro valor.
                                       </div>
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.username.$error.minlength && (newUserForm.username.$touched || newUserForm.$submitted)">
                                         O identificador do usuário deve ter pelo menos três caracteres.
                                       </div>
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.username.$error.pattern">
                                         Utilize somente caracteres alfanuméricos minúsculos e sem espaços.
                                       </div>
                                       <span class="help-block">Digite o identificador do usuário (<i>username</i>), tamanho mínimo de três caracteres e máximo de 20 caracteres, utilize somente caracteres alfanuméricos minúsculos e sem espaços. O identificador será utilizado para realizar o login.</span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">Senha</label>
                                  <div class="col-md-9">
                                      <input type="password" ng-model="$modalCtrl.password" class="form-control" required=""  minlength="8" maxlength="25" name="password" id="password">
                                      <div class="alert alert-danger" role="alert" ng-if="newUserForm.password.$invalid && (newUserForm.password.$touched || newUserForm.$submitted)">
                                        Digite a senha, tamanho mínimo de 8 caracteres.
                                      </div>
                                      <span class="help-block">Digite a senha, com pelo menos 8 caracteres e no máximo 25 caracteres.</span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">Confirmação de Senha</label>
                                  <div class="col-md-9">
                                      <input type="password" class="form-control" ng-model="$modalCtrl.password_check"  match="$modalCtrl.password" name="password_check" id="password_check">
                                      <div class="alert alert-danger" role="alert" ng-if="newUserForm.password.$valid && (newUserForm.password.$touched || newUserForm.$submitted) && newUserForm.password_check.$error.match && (newUserForm.password_check.$touched || newUserForm.$submitted)">
                                        As senhas não conferem.
                                      </div>
                                      <span class="help-block">Digite a senha novamente para confirmar.</span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">Nome</label>
                                  <div class="col-md-9">
                                       <input type="text" class="form-control" maxlength="50" required="" ng-model="$modalCtrl.name" name="name" id="name">
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.name.$error.required && (newUserForm.name.$touched || newUserForm.$submitted)">
                                         Digite o nome do usuário.
                                       </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">E-mail</label>
                                  <div class="col-md-9">
                                       <input type="email" class="form-control" maxlength="50" ng-model="$modalCtrl.email" name="email" id="email">
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.email.$error.email && (newUserForm.email.$touched || newUserForm.$submitted)">
                                         Digite um e-mail válido.
                                       </div>
                                       <div class="alert alert-danger" role="alert" ng-if="newUserForm.email.$error.uniqueEmail && (newUserForm.email.$touched || newUserForm.$submitted)">
                                         Já existe um usuário cadastrado para esse e-mail.
                                       </div>
                                       <span class="help-block">Caso desejar, digite um e-mail para este usuário. O e-mail poderá ser utilizado posteriormente para permitir que o usuário resete a senha.</span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">Grupo primário</label>
                                  <div class="col-md-9">
                                     <div class="input-group">
                                       <ui-select ng-model="$modalCtrl.selectedPrimaryGroup" theme="bootstrap">
                                           <ui-select-match placeholder="Digite o grupo desejado...">{{ $select.selected.completeName }}</ui-select-match>
                                           <ui-select-choices repeat="group in $modalCtrl.primaryGroups | filter: $select.search">
                                             <div ng-bind-html="group.completeName | highlight: $select.search"></div>
                                           </ui-select-choices>
                                       </ui-select>
                                       <span class="input-group-btn">
                                         <button type="button" ng-click="$modalCtrl.selectedPrimaryGroup = null" class="btn btn-default" title="Apagar valor">
                                           <span class="glyphicon glyphicon-trash"></span>
                                         </button>
                                       </span>
                                     </div>
                                      <span class="help-block"> Após a criação do usuário, grupos secundários e permissões de acesso poderão ser adicionados. </span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-actions">
                              <div class="row">
                                  <div class="col-md-12 text-center">
                                      <button type="button" class="btn green" ng-click="$modalCtrl.ok()" ng-disabled="newUserForm.$submitted && !$modalCtrl.isValid()">
                                          <i class="fa fa-check"></i> Ok</button>
                                      <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                      <!-- END FORM-->
                  </div>
               </div>
          </div>
   </script>
</div>
<!-- END NEW USER MODAL CONTENT -->

<!-- BEGIN EDIT USER MODAL CONTENT -->
<div id="edit-user-modal">
   <script type="text/ng-template" id="editUserModalContent.html">
          <div class="modal-body" id="modal-body">
               <div class="portlet box green portlet-in-modal">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="fa fa-plus"></i>Editar Usuário - {{ $modalCtrl.username }}
                      </div>
                      <div class="tools">
                          <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
                      </div>
                  </div>

                  <div class="portlet-body form">
                     <ul class="nav nav-tabs">
                         <li ng-class="{active: $modalCtrl.isGeneralTabActive}"><a href="#" ng-click="$modalCtrl.setGeneralTabActive()">Geral</a></li>
                         <li ng-class="{active: $modalCtrl.isSecurityTabActive}"><a href="#"  ng-click="$modalCtrl.setSecurityTabActive()">Segurança</a></li>
                         <li ng-class="{active: $modalCtrl.isPasswordTabActive}"><a href="#"  ng-click="$modalCtrl.setPasswordTabActive()">Resetar Senha</a></li>
                     </ul>
                     <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$modalCtrl.errorMessage">
                        {{$modalCtrl.errorMessage}}
                     </div>
                      <!-- BEGIN FORM-->
                      <form action="#" name="editUserForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">
                         <div class="form-body" ng-show="$modalCtrl.isGeneralTabActive">
                              <div class="form-group">
                                  <label class="control-label col-md-3">Usuário</label>
                                  <div class="col-md-9">
                                       <input type="text" class="form-control" disabled="true" required="" ng-model="$modalCtrl.username" name="username" id="username">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">Nome</label>
                                  <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" maxlength="50" required="" ng-model="$modalCtrl.name" name="name" id="name">
                                            <span class="input-group-btn">
                                              <button type="button" ng-click="$modalCtrl.name = $modalCtrl.user.name" class="btn btn-default" title="Restaurar original">
                                                <span class="glyphicon glyphicon-arrow-left"></span>
                                              </button>
                                            </span>
                                        </div>

                                        <div class="alert alert-danger" role="alert" ng-if="editUserForm.name.$error.required && (editUserForm.name.$touched || editUserForm.$submitted)">
                                            Digite o nome do usuário.
                                        </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="control-label col-md-3">E-mail</label>
                                  <div class="col-md-9">
                                       <div class="input-group">
                                            <input type="email" class="form-control" maxlength="50" ng-model="$modalCtrl.email" name="email" id="email">
                                            <span class="input-group-btn">
                                              <button type="button" ng-click="$modalCtrl.email = $modalCtrl.user.email" class="btn btn-default"  title="Restaurar original">
                                                <span class="glyphicon glyphicon-arrow-left"></span>
                                              </button>
                                            </span>
                                       </div>

                                       <div class="alert alert-danger" role="alert" ng-if="editUserForm.email.$error.email && (editUserForm.email.$touched || editUserForm.$submitted)">
                                         Digite um e-mail válido.
                                       </div>
                                       <div class="alert alert-danger" role="alert" ng-if="editUserForm.email.$error.uniqueEmail && (editUserForm.email.$touched || editUserForm.$submitted)">
                                         Já existe um usuário cadastrado para esse e-mail.
                                       </div>
                                       <span class="help-block">Caso desejar, digite um e-mail para este usuário. O e-mail poderá ser utilizado posteriormente para permitir que o usuário resete a senha.</span>
                                  </div>
                              </div>
                         </div>
                         <div class="form-body" ng-show="$modalCtrl.isSecurityTabActive">
                            <div class="form-group">
                                <label class="control-label col-md-3">Estado</label>
                                <div class="col-md-9">
                                   <toggle-switch ng-model="$modalCtrl.status" on-label="Habilitado" off-label="Desabilitado">
                                   </toggle-switch>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Grupo primário</label>
                                <div class="col-md-9">
                                   <div class="input-group">
                                     <ui-select ng-model="$modalCtrl.selectedPrimaryGroup" theme="bootstrap">
                                         <ui-select-match placeholder="Digite o grupo desejado...">{{ $select.selected.completeName }}</ui-select-match>
                                         <ui-select-choices repeat="group in $modalCtrl.primaryGroups | filter: $select.search">
                                           <div ng-bind-html="group.completeName | highlight: $select.search"></div>
                                         </ui-select-choices>
                                     </ui-select>
                                     <span class="input-group-btn">
                                       <button type="button" ng-click="$modalCtrl.selectedPrimaryGroup = $modalCtrl.user.primaryGroup" class="btn btn-default" title="Restaurar original">
                                         <span class="glyphicon glyphicon-arrow-left"></span>
                                       </button>
                                       <button type="button" ng-click="$modalCtrl.selectedPrimaryGroup = null" class="btn btn-default" title="Apagar valor">
                                         <span class="glyphicon glyphicon-trash"></span>
                                       </button>
                                     </span>
                                   </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Grupos segundários</label>
                                <div class="col-md-9">
                                     <ui-select multiple="true" ng-model="$modalCtrl.selectedSecondaryGroups" theme="bootstrap">
                                         <ui-select-match placeholder="Digite o grupo desejado...">{{ $item.completeName }}</ui-select-match>
                                         <ui-select-choices repeat="group in $modalCtrl.secondaryGroups | filter: $select.search">
                                            <div ng-bind-html="group.completeName | highlight: $select.search"></div>
                                         </ui-select-choices>
                                     </ui-select>
                                     <span class="help-block">
                                        Escolha os grupos secundários deste usuário.
                                        Os grupos permitem conceder permissões ao usuário.
                                        Se um usuário é associado a um determinado grupo,
                                        todas as permissões associadas ao grupo são concedidas automaticamente ao usuário
                                     </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Permissões Adicionais</label>
                                <div class="col-md-9">
                                     <ui-select multiple="true" ng-model="$modalCtrl.selectedRoles" theme="bootstrap">
                                         <ui-select-match placeholder="Digite a permissão desejada...">{{ $item.name }}</ui-select-match>
                                         <ui-select-choices repeat="role in $modalCtrl.roles | filter: $select.search">
                                           <div ng-bind-html="role.name | highlight: $select.search"></div>
                                         </ui-select-choices>
                                     </ui-select>
                                     <span class="help-block">Caso desejar, escolha permissões adicionais para este usuário (além das permissões já concedidas nos grupos associados a este usuário).</span>
                                </div>
                            </div>
                         </div>
                         <div class="form-body" ng-show="$modalCtrl.isPasswordTabActive">
                            <div class="form-group">
                               <label class="control-label col-md-3">&nbsp;</label>
                                <div class="col-md-9">
                                   <label class="radio-inline"><input type="radio" name="keepPassword" ng-model="$modalCtrl.keepPassword" value="true">Manter a senha atual</label>
                                   <label class="radio-inline"><input type="radio" name="keepPassword" ng-model="$modalCtrl.keepPassword" value="false">Alterar a senha</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Nova Senha</label>
                                <div class="col-md-9">
                                    <!--Fake input only for visual purposes //-->
                                    <input type="password" class="form-control" disabled="true" ng-if="$modalCtrl.keepPassword === 'true'" required="false">
                                    <!--END - Fake input only for visual purposes //-->
                                    <input type="password" ng-model="$modalCtrl.password" ng-if="$modalCtrl.keepPassword === 'false'" class="form-control" required=""  minlength="8" maxlength="25" name="password" id="password">

                                    <div class="alert alert-danger" role="alert" ng-if="editUserForm.password.$invalid && (editUserForm.password.$touched || editUserForm.$submitted)">
                                      Digite a senha, tamanho mínimo de 8 caracteres.
                                    </div>
                                    <span class="help-block">Digite a senha, com pelo menos 8 caracteres e no máximo 25 caracteres.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Confirmação de Senha</label>
                                <div class="col-md-9">
                                    <!--Fake input only for visual purposes //-->
                                    <input type="password" class="form-control" disabled="true"  ng-if="$modalCtrl.keepPassword === 'true'" required="false">
                                    <!--END - Fake input only for visual purposes //-->
                                    <input type="password" class="form-control" ng-model="$modalCtrl.password_check" ng-if="$modalCtrl.keepPassword === 'false'" match="editUserForm.password" name="password_check" id="password_check">

                                    <div class="alert alert-danger" role="alert" ng-if="editUserForm.password.$valid && (editUserForm.password.$touched || editUserForm.$submitted) && editUserForm.password_check.$error.match && (editUserForm.password_check.$touched || editUserForm.$submitted)">
                                      As senhas não conferem.
                                    </div>
                                    <span class="help-block">Digite a senha novamente para confirmar.</span>
                                </div>
                            </div>
                         </div>
                         <!-- BEGIN SAVE/CANCEL BUTTONS -->
                         <div class="form-actions">
                              <div class="row">
                                  <div class="col-md-12 text-center">
                                      <button type="button" class="btn green" ng-click="$modalCtrl.ok()" ng-disabled="editUserForm.$submitted && !$modalCtrl.isValid()">
                                          <i class="fa fa-check"></i>Salvar</button>
                                      <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                                  </div>
                              </div>
                         </div>
                         <!-- END SAVE/CANCEL BUTTONS -->
                      </form>
                      <!-- END FORM-->
                  </div>

                  <!-- ENDS TABS-->
               </div>
          </div>
   </script>
</div>
<!-- END EDIT USER MODAL CONTENT -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Gerenciamento de Usuários</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold green" ng-click="$ctrl.openNewUserModal();">
                                   Novo Usuário
                                   <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$ctrl.errorMessage">
                       {{$ctrl.errorMessage}}
                    </div>
                    <div class="alert alert-warning alert-no-margin" role="alert" ng-if="$ctrl.warnMessage">
                       {{$ctrl.warnMessage}}
                    </div>
                    <div class="alert alert-info alert-no-margin" role="alert" ng-if="$ctrl.message">
                      {{$ctrl.message}}
                    </div>
                    <div id="usersGrid" ui-grid="$ctrl.instanceGrid" ui-grid-pagination class="grid"></div>
                    <div ng-if="$ctrl.pager.totalItems">
                       <ul id="usersGridPager" first-text="Primeiro" next-text="Próximo" previous-text="Anterior" last-text="Último" uib-pagination total-items="$ctrl.pager.totalItems" items-per-page="$ctrl.pager.itemsPerPage" ng-model="$ctrl.pager.currentPage" max-size="$ctrl.pager.maxSize" class="pagination-sm  pull-right" boundary-links="true" rotate="false" ng-change="$ctrl.pager.pageChanged()"></ul>
                       {{$ctrl.pager.totalItems}}  items, página {{$ctrl.pager.currentPage}} de {{$ctrl.pager.totalPages}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
