<!-- BEGIN NEW PAGE -->
<div class="portlet box green portlet-in-modal">
   <div class="portlet-title">
       <div class="caption">
           <i class="fa fa-plus"></i>Nova Página
        </div>
       <div class="tools">
           <a href="" class="remove" data-original-title="" title="" ng-click="$newPageCtrl.close()"></a>
       </div>
   </div>
   <div class="portlet-body form">
       <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$newPageCtrl.errorMessage">
          {{ $newPageCtrl.errorMessage }}
       </div>
       <!-- BEGIN FORM-->
       <form action="#" name="newPageForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

           <div class="form-body">
               <div class="form-group">
                   <label class="control-label col-md-3">Título</label>
                   <div class="col-md-9">
                        <input type="text" class="form-control" name="title" required="true" maxlength="150" ng-model="$newPageCtrl.title">
                        <div class="alert alert-danger" role="alert" ng-if="newPageForm.title.$error.required && (newPageForm.title.$touched || newPageForm.$submitted)">
                           O título da página não pode ser vazio.
                        </div>
                        <span class="help-block">Digite o título da página.</span>
                   </div>
               </div>
           </div>

           <div class="form-body">
               <div class="form-group">
                   <label class="control-label col-md-3">Tag</label>
                   <div class="col-md-9">
                        <input type="text" style="width: 300px" class="form-control" name="tag" maxlength="25" ng-model="$newPageCtrl.tag" ui-validate='{ uniqueTag : $newPageCtrl.uniqueTagValidator }'>
                        <div class="alert alert-danger" role="alert" ng-if="newPageForm.tag.$error.uniqueTag && (newPageForm.tag.$touched || newPageForm.$submitted)">
                           Já existe uma página com esta tag.
                        </div>
                        <span class="help-block">
                           Caso desejar, entre com uma tag para esta página.
                           Uma tag pode ser utilizada para acessar a página
                           por meio de um link mais amigável do que um link
                           que faz referência ao id da página.
                           Exemplo, uma página com a tag <i>contato</i> pode ser acessada através da url <i>/page/contato</i>.
                        </span>
                   </div>
               </div>
           </div>

           <div class="form-body">
               <div class="form-group">
                  <label class="control-label col-md-3">Habilitar comentários ?</label>
                  <div class="col-md-9">
                     <toggle-switch ng-model="$newPageCtrl.enableFacebookComments" on-label="Sim" off-label="Não">
                     </toggle-switch>
                     <span class="help-block">
                        Caso deseje que os internautas tenham a possibilidade de comentar
                        esta página utilizando a conta do Facebook, selecione "Sim".
                     </span>
                  </div>
               </div>
           </div>

           <div class="form-body">
               <div class="form-group">
                  <label class="control-label col-md-3">Habilitar Compartilhamento e Curtir ?</label>
                  <div class="col-md-9">
                     <toggle-switch ng-model="$newPageCtrl.enableFacebookShareButton" on-label="Sim" off-label="Não">
                     </toggle-switch>
                     <span class="help-block">
                        Caso deseje que sejam exibidos para os internautas botões para compartilhar e "curtir"
                        esta página utilizando a conta do Facebook, selecione "Sim".
                     </span>
                  </div>
               </div>
           </div>

           <textarea froala="$newPageCtrl.froalaOptions" ng-model="$newPageCtrl.body"></textarea>

           <div class="form-actions">
               <div class="row">
                   <div class="col-md-12 text-center">
                       <button type="button" class="btn green" ng-click="$newPageCtrl.save()" ng-disabled="newPageForm.$submitted && !$newPageCtrl.isValid()">
                           <i class="fa fa-check"></i>Salvar
                        </button>
                       <button type="button" class="btn default" ng-click="$newPageCtrl.close()">Fechar</button>
                   </div>
               </div>
           </div>
       </form>
       <!-- END FORM-->
   </div>
</div>
<!-- END NEW PAGE -->
