<!-- BEGIN NEW PAGE -->
<div class="portlet box green portlet-in-modal">
   <div class="portlet-title">
       <div class="caption">
           <i class="fa fa-plus"></i>Nova Página
        </div>
       <div class="tools">
           <a href="" class="remove" data-original-title="" title="" ng-click="$newPageCtrl.close()"></a>
       </div>
   </div>
   <div class="portlet-body form">
       <div class="alert alert-danger alert-no-margin" role="alert" ng-if="$newPageCtrl.errorMessage">
          {{ $newPageCtrl.errorMessage }}
       </div>
       <!-- BEGIN FORM-->
       <form action="#" name="newPageForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate="">

           <div class="form-body">
               <div class="form-group">
                   <label class="control-label col-md-3">Título</label>
                   <div class="col-md-9">
                        <input type="text" class="form-control" name="title" required="true" maxlength="150" ng-model="$newPageCtrl.title">
                        <div class="alert alert-danger" role="alert" ng-if="newPageForm.title.$error.required && (newPageForm.title.$touched || newPageForm.$submitted)">
                           O título da página não pode ser vazio.
                        </div>
                        <span class="help-block">Digite o título da página.</span>
                   </div>
               </div>
           </div>

           <textarea froala="$newPageCtrl.froalaOptions" ng-model="$newPageCtrl.body"></textarea>

           <div class="form-actions">
               <div class="row">
                   <div class="col-md-12 text-center">
                       <button type="button" class="btn green" ng-click="$newPageCtrl.save()" ng-disabled="newPageForm.$submitted && !$newPageCtrl.isValid()">
                           <i class="fa fa-check"></i>Salvar
                        </button>
                       <button type="button" class="btn default" ng-click="$newPageCtrl.close()">Fechar</button>
                   </div>
               </div>
           </div>
       </form>
       <!-- END FORM-->
   </div>
</div>
<!-- END NEW PAGE -->
