<div class="modal-body" id="modal-body">
     <div class="portlet box green portlet-in-modal">
        <div class="portlet-title">
           <div class="caption">
               Seleção de vídeo do Youtube
             </div>
           <div class="tools">
               <a href="" class="remove" data-original-title="" title="" ng-click="$modalCtrl.close()"> </a>
           </div>
        </div>
        <div class="portlet-body form">

           <div class="mt-element-list">
               <div class="mt-list-container list-news ext-1">
                  <ul>
                       <li class="mt-list-item">
                           <form class="form-inline" role="form">
                               <div class="form-group">
                                   <div class="input-group input-icon">
                                       <i class="fa fa-search"></i>
                                       <input type="keywords" size="45" ng-model="$modalCtrl.keywords" class="form-control" id="keywordsInput" placeholder="Cole aqui o ID do vídeo desejado">
                                    </div>
                               </div>

                               <div class="form-group">
                                  <div class="input-group">

                                     <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="publicaoFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span>Canal</span>
                                          <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                          <li ng-repeat="channel in $modalCtrl.channels">
                                             <a href="#" ng-click="$modalCtrl.selectChannel(channel)">{{ channel.description }}<i class="fa fa-check"  ng-if="$modalCtrl.selectedChannel && $modalCtrl.selectedChannel.id === channel.id"></i></a>
                                          </li>
                                        </ul>
                                     </div>

                                  </div>
                               </div>

                               <div class="form-group" style="padding-right: 7px">
                                  <div class="input-group">
                                    <span class="input-group-btn">
                                       <button type="button" title="Pesquisar vídeos" class="btn btn-default" ng-click="$modalCtrl.search()"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                 </div>
                               </div>

                               <div class="form-group" ng-if="$modalCtrl.selectedChannel">
                                  <div class="input-group input-icon">
                                       <span class="help-block">Canal: {{ $modalCtrl.selectedChannel.description }}</span>
                                  </div>
                               </div>
                           </form>
                       </li>
                       <li class="mt-list-item" ng-if="$modalCtrl.notFoundMessage">
                          <div class="alert alert-warning alert-no-margin" role="alert">
                             {{ $modalCtrl.notFoundMessage }}
                          </div>
                       </li>
                       <li class="mt-list-item" ng-if="$modalCtrl.infoMessage">
                          <div class="alert alert-info alert-no-margin" role="alert">
                             {{ $modalCtrl.infoMessage }}
                          </div>
                       </li>
                       <li class="mt-list-item" ng-if="$modalCtrl.errorMessage">
                          <div class="alert alert-danger alert-no-margin" role="alert">
                             {{ $modalCtrl.errorMessage }}
                          </div>
                       </li>
                       <li class="mt-list-item" ng-repeat="video in $modalCtrl.videos" ng-class="{ 'video-banner-highlight': $modalCtrl.selectedVideo && video.videoId === $modalCtrl.selectedVideo.videoId }">
                           <div class="list-icon-container">
                              <a href="javascript:;" ng-click="$modalCtrl.selectVideo(video)">
                                 <i class="fa fa-angle-right"></i>
                              </a>
                           </div>

                           <div class="list-thumb">
                               <a href="javascript:;" ng-click="$modalCtrl.selectVideo(video)">
                                   <img alt="" ng-src="{{ video.thumbnailUrl }}">
                               </a>
                           </div>

                           <div class="list-datetime bold uppercase">
                              <i class="fa fa-clock-o font-black"></i>
                              <span class="font-black">Publicação: {{ video.publishedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
                              <a class="btn btn-xs" title="Visualizar vídeo" target="_blank" ng-href="{{ $modalCtrl.youtubeUrlBase + video.videoId }}">
                                 <span class="glyphicon glyphicon-new-window"></span>
                              </a>
                           </div>

                           <div class="list-item-content">
                               <h3 class="uppercase">
                                   <a href="javascript:;" ng-click="$modalCtrl.selectVideo(video)">{{ video.title }}</a>
                               </h3>
                               <p>{{ video.description }}</p>
                           </div>
                       </li>
                  </ul>
               </div>
           </div>

           <div class="row" ng-if="$modalCtrl.videos && $modalCtrl.videos.length > 0">
              <nav aria-label="paginação">
                 <ul class="pager">
                    <li ng-class="{ 'disabled': !$modalCtrl.searchResult.prevPageToken }">
                       <a href="#" ng-click="$modalCtrl.searchToPage($modalCtrl.searchResult.prevPageToken)" title="Página anterior">Página anterior</a>
                    </li>
                    <li ng-class="{ 'disabled': !$modalCtrl.searchResult.nextPageToken }">
                       <a href="#" ng-click="$modalCtrl.searchToPage($modalCtrl.searchResult.nextPageToken)" title="Próxima página">Próxima página</a>
                    </li>
                 </ul>
              </nav>
           </div>

           <div class="form-actions">
                <div class="row">
                    <div class="col-md-12 text-center">
                       <button type="button" class="btn green" ng-click="$modalCtrl.ok()">
                       <i class="fa fa-check"></i> Ok</button>
                       <button type="button" class="btn default" ng-click="$modalCtrl.close()">Cancelar</button>
                    </div>
                </div>
           </div>

        </div>
     </div>
</div>
