<div class="page-header">
   <h3>Destaques de Cabeçalho (Rotativo)</h3>
</div>

<div class="panel panel-default" role="toolbar" style="margin-bottom: 10px">
   <div class="row">
     <div class="col-md-12">
         <div class="btn-group" role="group">
            <a class="btn" data-nodrag ui-sref="hotNews.new">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Adicionar novo destaque
            </a>
         </div>
     </div>
   </div>
</div>

<div class="row" ng-if="$listHotNewsCtrl.errorMessage">
   <div class="col-md-12">
      <div class="alert alert-danger" style="margin-bottom: 10px" role="alert">
         {{$listHotNewsCtrl.errorMessage}}
      </div>
   </div>
</div>

<div class="row" ng-if="$listHotNewsCtrl.infoMessage">
   <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 10px" role="alert">
         {{$listHotNewsCtrl.infoMessage}}
      </div>
   </div>
</div>

<div class="row" ng-if="!$listHotNewsCtrl.hotNewsItems || $listHotNewsCtrl.hotNewsItems.length === 0">
   <div class="col-md-12">
      <div class="alert alert-danger" style="margin-bottom: 10px" role="alert">
         {{ $listHotNewsCtrl.notFoundMessage }}
      </div>
   </div>
</div>

<div class="panel panel-info" ng-repeat="hotNewsItem in $listHotNewsCtrl.hotNewsItems" ng-class="{ 'banner-highlight': hotNewsItem.id === $listHotNewsCtrl.highlightHotNewsItemId }">

  <div class="panel-heading">
     Destaque #{{hotNewsItem.order}}
     <a class="pull-right btn btn-xs" title="Remover item" ng-click="$listHotNewsCtrl.remove(hotNewsItem)" data-nodrag="" style="color: red">
        <span class="glyphicon glyphicon-remove"></span>
     </a>
     <a class="pull-right btn btn-xs" title="Mover para baixo" ng-disabled="hotNewsItem.last" ng-click="$listHotNewsCtrl.moveHotNewsItemDown(hotNewsItem)" data-nodrag="">
        <span class="glyphicon glyphicon-arrow-down"></span>
     </a>
     <a class="pull-right btn btn-xs" title="Mover para cima" ng-disabled="hotNewsItem.first" ng-click="$listHotNewsCtrl.moveHotNewsItemUp(hotNewsItem)" data-nodrag="">
        <span class="glyphicon glyphicon-arrow-up"></span>
     </a>
     <a class="pull-right btn btn-xs" title="Alterar item" ui-sref="hotNews.edit({ hotNewsItemId: hotNewsItem.id })" data-nodrag="">
        <span class="glyphicon glyphicon-pencil"></span>
     </a>
  </div>
  <div class="panel-body">
     <div class="row">
        <div class="col-md-12">
           <!--título-->
           <div class="row">
              <div class="col-md-1">
                <h4>Título</h4>
              </div>
              <div class="col-md-11">
                <h4><i>{{hotNewsItem.title}}</i></h4>
              </div>
           </div>
           <!--type-->
           <div class="row">
              <div class="col-md-1">
                <h4>Tipo</h4>
              </div>
              <div class="col-md-11">
                <h4><i>{{$listHotNewsCtrl.accessDescription(hotNewsItem.type)}}</i></h4>
              </div>
           </div>
           <!--URL, for type link-->
           <div class="row" ng-if="hotNewsItem.type == 'link'">
              <div class="col-md-1">
                <h4>URL</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{hotNewsItem.access.url}}" target="_blank">{{hotNewsItem.access.url}}</a></i></h4>
              </div>
           </div>
           <!--Target, for type link-->
           <div class="row" ng-if="hotNewsItem.type == 'link'">
              <div class="col-md-1">
                <h4>Alvo</h4>
              </div>
              <div class="col-md-11">
                <h4><i>{{$listHotNewsCtrl.targetDescription(hotNewsItem.access.target)}}</i></h4>
              </div>
           </div>
           <!--Youtube vídeo, for type youtube-->
           <div class="row" ng-if="hotNewsItem.type == 'youtube'">
              <div class="col-md-1">
                <h4>Vídeo</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{$listHotNewsCtrl.youtubeUrlBase + hotNewsItem.access.videoId}}" target="_blank">&ldquo;{{hotNewsItem.access.title}}&rdquo;</a></i></h4>
              </div>
           </div>
           <!--Youtube live channel, for type youtube_live-->
           <div class="row" ng-if="hotNewsItem.type == 'youtube_live'">
              <div class="col-md-1">
                <h4>Live</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{$listHotNewsCtrl.youtubeLiveChannelUrlBase + hotNewsItem.access.channelId}}" target="_blank">&ldquo;{{hotNewsItem.access.title}}&rdquo;</a></i></h4>
              </div>
           </div>
           <!--Flickr photoset, for type flickr-->
           <div class="row" ng-if="hotNewsItem.type == 'flickr'">
              <div class="col-md-1">
                <h4>Álbum</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{$listHotNewsCtrl.flickrUrlBase + '/photos/' + hotNewsItem.access.path + '/albums/' + hotNewsItem.access.id }}" target="_blank">&ldquo;{{hotNewsItem.access.title}}&rdquo;</a></i></h4>
              </div>
           </div>
           <!--News-->
           <div class="row" ng-if="hotNewsItem.type == 'news'">
              <div class="col-md-1">
                <h4>Notícia</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{ $listHotNewsCtrl.newsUrlBase + hotNewsItem.access.id }}" target="_blank">&ldquo;{{hotNewsItem.access.title}}&rdquo;</a></i></h4>
              </div>
           </div>
           <!--Page-->
           <div class="row" ng-if="hotNewsItem.type == 'page'">
              <div class="col-md-1">
                <h4>Página</h4>
              </div>
              <div class="col-md-11">
                <h4><i><a ng-href="{{ $listHotNewsCtrl.pageUrlBase + hotNewsItem.access.id }}" target="_blank">&ldquo;{{hotNewsItem.access.title}}&rdquo;</a></i></h4>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
